body {
    margin: 0;
    padding: 0;
    font-family: 'Padauk', sans-serif;
    background-color: #f1f1f1;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0;
}

#main {
    width: 100%;
    float: left;
    background-color: #f1f1f1;
    padding: 0;
    margin: 0;
}

#header {
    border: 0px solid gray;
    margin-top: 2%;
}

#header h2 {
    margin-top: 0.5%;
    margin-left: 1%;
    font-weight: normal;
    letter-spacing: 2px;
    float: left;
}

#search_span {
    border: 1px solid #c2c2a3;
    width: 75%;
    margin-left: 22%;
    height: 8vh;
}

#search_span input {
    width: 92%;
    margin: auto;
    padding: 1%;
    padding-left: 2%;
    margin-top: 0%;
    font-size: 20px;
    border: 0;
    float: left;
    outline: 0;
    font-family: 'Padauk', sans-serif;
    background-color: #f1f1f1;
}

#search_icon {
    margin-top: 1.5%;
    float: right;
    margin-right: 1.5%;
}

#display_result {
    border: 0px solid black;
    display: block;
    margin: auto;
    width: 75%;
    margin-left: 1%;
    margin-top: 2%;
    list-style-type: none;
    padding: 0;
    background-color: #f1f1f1;
    float: left;
}

#display_result li {
    display: block;
    border: 1px solid #c2c2a3;
    padding: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
    height: 25vh;
    border-radius: 3px;
    background-color: white;
}

#display_result li a {
    text-decoration: none;
    font-size: 20px;
}

#footer {
    text-align: center;
    color: black;
}

#image_exterier_div {
    width: 25%;
    border: 0px solid black;
    padding: 0;
    margin: 0;
    float: left;
}

#image_exterier_div img {
    width: 90%;
    height: 24vh;
}

#hotel_info {
    border: px solid black;
    float: left;
    width: 74%;
    padding-left: 1%;
}

#filter {
    float: left;
    border: 1px solid #c2c2a3;
    margin-top: 2.8%;
    width: 20%;
    background-color: white;
    box-shadow: 0.5px 0.5px 5px #f1f1f1;
    margin-left: 1%;
    border-radius: 2px;
    padding-bottom: 2%;
    text-align: center;
}

#hotel_filter_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#hotel_filter_ul li {
    padding: 1%;
    padding-left: 2%;
    font-weight: bold;
    border-bottom: 1px solid #f1f1f1;
    margin-top: 5%;
}

#category_1,#category_2,#category_3,#category_4,#category_5 {
    border: 0;
    background-color: white;
    outline: 0;
}

#category_1:hover,#category_2:hover,#category_3:hover,#category_4:hover,#category_5:hover {
    cursor: pointer;
}

input[type='checkbox'] {

}
